$font-stack:   'Times New Roman' Helvetica, sans-serif;
$transparent: rgba(255,255,255,0.5);
$twitter: #55acee;
$facebook: #4c66a4;
$youtube: #e52d27;

/******************/
/* = les include */
/*****************/

body{
  background: lightgray;
  font-family: $font-stack ;
 // border: 1px solid #000000;
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

a{
  color: #000000;
  text-decoration: none;
  cursor: pointer;


  :hover{
    color: #3E4142;
    text-decoration: underline;
  }
}

.menu-index{
  background: $transparent;
  text-align: center;
  border: 2px dashed $transparent;
  margin: 10px;
  padding: 10px;
}

footer{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 25px;
  background-color: rgb(34, 34, 34);
  border-color: rgb(8, 8, 8);
  .nav-footer{
    color: black;
    font-size: 16px;
  }
  ul li{border-left: 1px solid black;}
}

a .fa-twitter,
a .fa-twitter:hover{
  color: $twitter;
  text-decoration: none;
}
a .fa-facebook,
a .fa-facebook:hover{
  color: $facebook;
  text-decoration: none;
}
a .fa-youtube,
a .fa-youtube:hover{
  color: $youtube;
  text-decoration: none;
}